body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(13, 14, 38, 1);
  color: white;
  padding: 0px;
}
.message {
  display: flex;
  align-items: flex-start;
  margin: 15px 0;
  width: 100%;
  flex-direction: column;
  gap:5px 0
}
.main-container{
  width: 33% !important;
  background-color:  rgba(13, 14, 38, 1) !important;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  /* opacity: 0.8; */
}
.chat-ui{
  height: 83vh;
  opacity: 0.8;
  overflow-y: auto;
/* Hide scrollbar for Chrome, Safari and Opera */
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none; /* IE and Edge */
}

.chat-ui::-webkit-scrollbar {
display: none; /* Chrome, Safari and Opera */
}
.MuiTab-icon{
  margin: 0 !important;
}
button.Mui-selected{
  background-color: rgb(255, 255, 255);
    color: rgb(22, 26, 47) !important;
    border-radius: 5px !important;
}
.tab-container{
  min-height: unset !important;
  background-color:  rgba(13, 14, 38, 1) !important;
  padding: 10px !important;
  position: relative !important;
}
.tab-btn{
  min-height: unset !important;
  min-width: unset !important;
  padding: 5px 10px !important;
  margin: 0px 5px !important;
  display: flex !important;
  flex-direction: row !important; 
  text-transform: capitalize !important;
  gap: 0 10px;
  color: #fff !important;
}